.header {
    min-height: 40px;
    background-color: #2b244d; 
    text-align: center;
    color: #fff;
    line-height: 40px;
    font-size: 20px;
    margin-bottom: 30px;
    .day {
        font-weight: 700;
    }
}