.day-block{
    width: 40px;
    margin: 0 auto;
    .day {
        font-size: 18px;
        font-weight: 900;
    }
    .icon {
        img {
            width: 40px;
            height: 40px;
            margin: 10px 0 10px 0;
        }
    }
    .degrees {
        font-weight: 900;
        text-align: center;
    }
    .cloud {
        font-size: 12px;
        margin-top: 8px;
        text-align: center;
    }
}
